<!DOCTYPE html>
<html lang="en">
<head>
    <meta chmarginutf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ProjectManagementApplication</title>
    <link rel="icon" type="image/x-icon" href="/pictures/favicon_io/favicon-16x16.png">

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/lib/MDB5/css/mdb.min.css" />
    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- the fileinput plugin styling CSS file -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/kartik-v-bootstrap-fileinput/css/fileinput.css"/>

    <style>
        h3 {
            margin: 0;
        }

    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light navbar-light mb-4">
        <!-- Container wrapper -->
        <div class="container-fluid">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="../">
                <img src="~/pictures/SSI_Schäfer_Logo.png"
                     height="50"
                     alt="SSI Schäfer"
                     loading="lazy" />
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Link -->
                    <li class="nav-item">
                        <div class="align-content-center">
                            <h3 id="indicator">Projects</h3>
                        </div>
                    </li>
                </ul>

                <!-- Icons -->
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link"
                           href=""
                           id="navbarDropdown"
                           role="button"
                           data-mdb-toggle="dropdown"
                           aria-expanded="false">
                            <div class="d-flex flex-row text-end text-black">
                                <i class="fas fa-caret-down my-auto me-2"></i>
                                <h5 class="mb-0 me-2">Welcome! <p class="mb-0"><strong>@User.Identity.Name</strong></p></h5>
                                <i class="fas fa-user-alt fa-3x"></i>
                            </div>
                        </a>

                        <!-- Dropdown menu -->
                        <ul id="dropdownList" class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item">Profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <button data-mdb-toggle="modal"
                                            data-mdb-target="#staticBackdrop"
                                            id="mailFormSubmit"
                                            class="nav-link btn btn-block btn-link text-dark">
                                            Sign Out
                                            <i class="fas fa-sign-out-alt"></i>
                                        </button>
                                    }
                                }
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
        </div>

        <!-- Container wrapper -->
    </nav>

    <div class="modal fade"
         id="staticBackdrop"
         data-mdb-backdrop="static"
         data-mdb-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white d-flex justify-content-center">
                    <i class="fas fa-sign-out-alt fa-3x"></i>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <h5 class="modal-title text-center text-black" id="exampleModalLabel">Are you sure you want to<br/> sign out?</h5>
                </div>
                <div class="modal-footer align-content-between d-flex justify-content-center">
                    <form id="logiout"
                          class="form-inline"
                          asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                          method="post">
                        <button type="submit" class="btn btn-outline-black" data-mdb-dismiss="modal">Yes</button>
                    </form>
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Old Navbar -->
    <!--
    <header style="margin-bottom: 5%;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #EFE703 !important;">
            <form asp-action="Index" asp-controller="Project">
                <input type="image" class="brand" src="~/pictures/SSI_Schäfer_Logo.png" />
            </form>
            <div class="searchbar">
                <input type="text" class="search_input" id="keyWordInput" onkeyup="filterlist()" type="text" name="" placeholder="Search...">
            </div>
            <a href="#" class="search_pic"><img src="~/pictures/Search-icon.png" style="width: 50px;"></a>
            <script src="~/js/logoutPop.js"></script>
            <button onclick="openWin()">Logout</button>
    @{
                                                                                                                                <a style="text-align:right">Willkommen, <br>@User.Identity.Name!</a>
        if (User.Identity.IsAuthenticated)
        {
                                                                                                                                                                                                                        <form id="logiout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" style="display: none">
                                                                                                                                                                                                                            <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                                                                                                                                                                                                                        </form>
        }
        else
        {
                                                                                                                                                                                                                        <p>You have successfully logged out of the application.</p>
        }
    }
            <img src="~/pictures/User.png" style="width:4%; margin-left:43%" />
        </nav>
    </header>
    -->

    <div class="container-fluid px-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ProjectManagementApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <!-- MDB -->
    <script type="text/javascript" src="~/lib/MDB5/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr(".datePicker", {});
    </script>

    <!-- the fileinput plugin -->
    <script type="text/javascript" src="~/lib/kartik-v-bootstrap-fileinput/js/plugins/buffer.min.js"></script>
    <script type="text/javascript" src="~/lib/kartik-v-bootstrap-fileinput/js/plugins/filetype.min.js"></script>
    <script type="text/javascript" src="~/lib/kartik-v-bootstrap-fileinput/js/plugins/piexif.min.js"></script>
    <script type="text/javascript" src="~/lib/kartik-v-bootstrap-fileinput/js/plugins/sortable.min.js"></script>
    <script type="text/javascript" src="~/lib/kartik-v-bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="~/lib/kartik-v-bootstrap-fileinput/themes/fa4/theme.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
