@using Microsoft.AspNetCore.Identity
@model ProjectManagementApplication.Models.Project
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .employee i {
        opacity: 0%;
        transition: opacity .5s;
    }

        .employee i:hover {
            opacity: 100%
        }

    .employee {
        background-color: #EFE407;
    }

    .admin {
        background-color: firebrick;
    }

        .admin i {
            opacity: 0%;
            transition: opacity .5s;
        }

            .admin i:hover {
                opacity: 100%
            }

    #routeLink {
        color: black;
    }

        #routeLink:hover {
            color: blue;
        }

    #linkState {
        font-size: 20px;
    }
</style>



<nav id="linkState" class="me-auto p-2">
    <span>/</span>
    <a href="../" id="routeLink">Project</a>
    <span>/</span>
    <a class="text-reset"><u>Edit</u></a>
</nav>

<div class="container text-black">

    <script type="text/javascript" src="~/js/createProject.js"></script>

    <form asp-action="CreateEditProject" method="post">
        <input hidden asp-for="id" placeholder="id" />
        <div class="d-flex mb-2">
            <div class="d-flex flex-column flex-fill me-2 mt-auto mb-2">
                <div class="d-flex my-1">
                    <label class="form-label flex-fill my-auto text-black" for="projectTitle" style="font-size: 20px;">Project Title</label>
                </div>
                <div style="border-color:#dcdfe4;">
                    <input id="projectTitle" asp-for="projectName" type="text" class="form-control form-control-lg text-black px-2" style="font-size: 26px;font-weight: 400;line-height: 34px;" />
                </div>
            </div>
            <div class="d-flex flex-column my-2 mt-3">
                <div class="d-flex my-1">
                    <i class="fas fa-info-circle trailing my-auto me-2 text-black"></i>
                    <label class="form-label flex-fill my-auto text-black" for="projectState" style="font-size: 18px;">Project-State</label>
                </div>
                <div style="border-color:#dcdfe4;">
                    <select id="projectState" class="select form-control form-control-lg me-2" asp-for="tense" checked>
                        <option value="active">Active</option>
                        <option value="future">Future</option>
                        <option value="past">Past</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex my-1">
            <i class="fas fa-user-alt trailing my-auto me-2 text-black "></i>
            <label class="form-label flex-fill my-auto text-black" style="font-size: 18px;">Project-Members</label>
        </div>
        <div id="employeeList" class="d-flex my-2 mx-2">
            @{
                List<IdentityUser> projectAdmins = new List<IdentityUser>();
                List<IdentityUser> projectWorker = new List<IdentityUser>();

                if (ViewBag.UserRights != null)
                {
                    foreach (KeyValuePair<IdentityUser, int> entry in ViewBag.UserRights)
                    {
                        if (entry.Value == 0)
                        {
                            projectAdmins.Add(entry.Key);
                        }
                        if (entry.Value == 1)
                        {
                            projectWorker.Add(entry.Key);
                        }
                    }
                }

                foreach (IdentityUser user in projectAdmins)
                {
                    <div id="@user.Id" class="admin d-flex justify-content-around rounded-8 mx-1 my-auto">
                        <button type="button" class="btn btn-link text-black bg-transparent btn-floating" disabled>
                            <i class="fas fa-times fa-2x"></i>
                        </button>


                        <h5 class="my-auto mx-1">@user.UserName</h5>
                        <button type="button" onclick="deleteUser('@user.Id', @ViewBag.ProjectID)" class="btn btn-link text-black bg-transparent btn-floating">
                            <i class="fas fa-times fa-2x"></i>
                        </button>
                    </div>
                }

                foreach (IdentityUser user in projectWorker)
                {
                    <div id="@user.Id" class="employee d-flex justify-content-around rounded-8 mx-1 my-auto">
                        <button type="button" onclick="setValues('@user.Id', @ViewBag.ProjectID)" data-mdb-toggle="modal" data-mdb-target="#makeAdmin" class="btn btn-link text-black bg-transparent btn-floating">
                            <i class="fas fa-circle-user fa-2x"></i>
                        </button>



                        <h5 class="my-auto mx-1">@user.UserName</h5>
                        <button type="button" onclick="deleteUser('@user.Id', @ViewBag.ProjectID)" class="btn btn-link text-black bg-transparent btn-floating">
                            <i class="fas fa-times fa-2x"></i>
                        </button>
                    </div>

                }

            }
            <button type="button" data-mdb-toggle="modal" data-mdb-target="#projectMitarbeiterModal" class="btn btn-link text-black btn-floating">
                <i class="fas fa-plus fa-2x"></i>
            </button>


        </div>

        <div class="d-flex flex-column my-2 mt-3">
            <div class="d-flex my-1">
                <i class="fas fa-info-circle trailing my-auto me-2 text-black"></i>
                <label class="form-label flex-fill my-auto text-black" for="projectDescription" style="font-size: 18px;">Description</label>
            </div>
            <div style="border-color:#dcdfe4;">
                <textarea id="projectDescription" asp-for="description" style="font-size: 16px;" class="form-control form-control-lg px-2" rows="8"></textarea>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4 mx-auto">
            <!--<button type="button"
                    onclick="window.location.href = '../'"
                    class="btn btn-lg h-100 mx-5 align-self-end"
                    data-mdb-ripple-color="dark"
                    style="background-color: #EFEDED">
                ABBRECHEN
            </button>-->

            <button type="submit"
                    class="btn btn-lg h-100 mx-5 align-self-end"
                    data-mdb-ripple-color="dark"
                    style="background-color: #EFE407">
                SAVE
            </button>
        </div>

    </form>


</div>


<div class="modal fade"
     id="projectMitarbeiterModal"
     data-mdb-backdrop="static"
     data-mdb-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <h4>Add Members</h4>
                    @{
                        List<IdentityUser> projectAllUser = new List<IdentityUser>();
                        projectAllUser = ViewBag.allUser;
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Add</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.allUser != null)
                                    {
                                        foreach (IdentityUser user in projectAllUser)
                                        {
                                            <tr>
                                                <th>@user.UserName</th>
                                                <th>

                                                    <!-- <form methoyd="post" asp-action="EditUserRoles" asp-controller="Project" asp-route-userId="@user.Id" asp-route-ProjectID="@ViewBag.ProjectID"> -->
                                                    <button type="button" onclick="editUserRoles('@user.Id', @ViewBag.ProjectID)" class="btn btn-link text-black btn-floating">
                                                        <i class="fas fa-plus fa-2x"></i>
                                                    </button>
                                                    <!-- </form> -->
                                                </th>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade"
     id="makeAdmin"
     data-mdb-backdrop="static"
     data-mdb-keyboard="false"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white d-flex justify-content-center">
                <i class="fa-solid fa-id-card-clip fa-4x icon-cog text-black"></i>

            </div>
            <div class="modal-body d-flex justify-content-center">
                <h5 class="modal-title" id="exampleModalLabel">Make Admin?</h5>

            </div>
            <div class="modal-footer align-content-between d-flex justify-content-center">
                <button type="button" onclick="makeAdmin()" class="btn btn-outline-black" data-mdb-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>