@using Microsoft.AspNetCore.Identity
@model ProjectManagementApplication.Models.Project


<script src="~/js/projectlist-script.js"></script>
<!--<script type="text/javascript" src="~/js/story.js"></script>-->
<script type="text/javascript" src="~/js/search.js"></script>
<script type="text/javascript" src="~/js/createProject.js"></script>
<meta charset="utf-8" />

<style>
    body {
        background: white;
    }

    .dropzone {
        opacity: 50%;
        height: 60px;
        display: flex;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: -1;
        transition: all .2s linear;
        transition-delay: .1s;
    }

    .hideDrop {
        height: 0px;
        opacity: 0%;
    }

    #routeLink {
        color: black;
    }

        #routeLink:hover {
            color: blue;
        }

    #linkState {
        font-size: 20px;
    }

</style>




<div id="topNavigation" class="d-flex">

    <nav id="linkState" class="me-auto p-2 my-auto">
        <span>/</span>
        <a class="text-reset">Project</a>

    </nav>

    <div class="input-group w-25 rounded-8 my-auto" style="background-color: #EFEDED;">
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
        <input type="search"
               class="form-control bg-transparent autocomplete-input border-0"
               placeholder=""
               aria-describedby="search-addon"
               id="keyWordInput" oninput="filterPrjectlist()"
               style="border-radius: 20px" />
    </div>
    <div class="d-flex my-auto">
        <form asp-action="Create">
                <button type="submit" class="btn btn-link text-black btn-floating ms-2">
                    <i class="fas fa-plus fa-2x"></i>
                </button>
            </form>
    </div>
    

</div>
@{
    Dictionary<Project, int> activeProjects = new Dictionary<Project, int>();
    Dictionary<Project, int> pastProjects = new Dictionary<Project, int>();
    Dictionary<Project, int> futureProjects = new Dictionary<Project, int>();


    foreach (KeyValuePair<Project, int> entry in ViewBag.rightsProjects)
    {
        if (entry.Key.tense.Equals("active"))
        {
            activeProjects.Add(entry.Key, entry.Value);
        }
        else if (entry.Key.tense.Equals("future"))
        {
            futureProjects.Add(entry.Key, entry.Value);
        }
        else
        {
            pastProjects.Add(entry.Key, entry.Value);
        }
    }


}
<script>
    function dragEnter(id) {
        document.getElementById(id + "Dummy").classList.remove("hideDrop");

    }
    function dragLeave(id) {
        document.getElementById(id + "Dummy").classList.add("hideDrop");
    }


    function allowDrop(ev) {
        ev.preventDefault();

    }
    function endDrag(ev) {
        console.log("Drag End");
        const projects = document.getElementsByClassName("projectItem");

        for (let i = 0; i < projects.length; i++) {
            projects[i].style.zIndex = 5;
        }

    }

    function drag(ev, itemId) {
        ev.dataTransfer.setData("id", itemId);
        console.log(ev.target.id);
        ev.dataTransfer.setData("projectItem", ev.target.id);
        const projects = document.getElementsByClassName("projectItem");

        for (let i = 0; i < projects.length; i++) {
            if (projects[i].id != "projectItem" + itemId) {
                projects[i].style.zIndex = -3;
            }

        }


    }

    function drop(ev, tense) {
        var id = ev.dataTransfer.getData("id");
        var divToMove = ev.dataTransfer.getData("projectItem");

        const projects = document.getElementsByClassName("projectItem");

        for (let i = 0; i < projects.length; i++) {
            projects[i].style.zIndex = 5;
        }

        var data = {
            str_projectId: id,
            tense: tense
        };

        $.ajax({
            type: "POST",
            url: "/project/ChangeTense",
            data: data,
            success: function(result) {
                window.location.href = "../";
            }
        });
        ev.preventDefault();
    }
</script>

<div id="allProjects" class="mt-2 mb-2 d-grid gap-3">
    <div id="currentProjects" class="mt-2 d-grid gap-3" ondrop="drop(event,'active')" ondragover="allowDrop(event)" ondragenter="dragEnter('currentProjects')" ondragleave="dragLeave('currentProjects')">
        <h3 style="z-index:-2;">Active Projects</h3>
        @{
            foreach (KeyValuePair<Project, int> project in activeProjects)
            {
                string staticBackdropid = "id" + @project.Key.id;
                string staticBackdropTarget = "#" + @staticBackdropid;
                DateTime currentD = DateTime.Now;

                double rangeDaysAll = 0;

                double rangeDaysStartToFinished = 0;
                double finishedTime = 0;

                double rangeDaysStartToOverdue = 0;
                double overdueTime = 0;

                double rangeDaysStartToCurrent = 0;
                double estimatedTime = 0;

                foreach (UserStory story in ViewBag.UserStories)
                {
                    if (story.project_id == @project.Key.id)
                    {
                        double difference = (story.endDate - story.startDate).TotalDays + 1;

                        rangeDaysAll += difference;

                        if (story.state == 2)
                        {
                            rangeDaysStartToFinished += difference;
                        }
                        else if (story.endDate < currentD)
                        {
                            rangeDaysStartToOverdue += difference;
                        }
                        else if (story.startDate < currentD)
                        {
                            rangeDaysStartToCurrent = (currentD - story.startDate).TotalDays;
                        }
                    }
                }

                string estimatedTimePercent = "0";
                string overdueTimePercent = "0";
                string finishedTimePercent = "0";

                if (rangeDaysAll > 0)
                {
                    finishedTime = rangeDaysStartToFinished / rangeDaysAll * 100;

                    overdueTime = (rangeDaysStartToOverdue / rangeDaysAll * 100);

                    estimatedTime = (rangeDaysStartToCurrent / rangeDaysAll * 100);


                    finishedTimePercent = ("" + (finishedTime)).Replace(',', '.');

                    overdueTimePercent = ("" + (overdueTime)).Replace(',', '.');

                    estimatedTimePercent = ("" + (estimatedTime)).Replace(',', '.');
                }

                <div class="projectItem rounded-8"
                 id="@("projectItem"+@project.Key.id)"
                 style="background-color: #EFEDED; display:flex;"
                 draggable="true" ondragstart="drag(event,@project.Key.id)" ondragend="endDrag(event)">
                    <a class="projectlist d-flex flex-fill" asp-action="Index" asp-route-projectid="@project.Key.id" asp-route-projectName="@project.Key.projectName" asp-controller="UserStory">
                        <h4 class="m-3 ms-4 text-black align-self-start" style="max-width:20%; min-width:20%">@project.Key.projectName</h4>
                            <div class="progress mx-2 my-auto bg-white rounded-8 flex-fill" style="height:10px">
                                <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: @(finishedTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                                <div class="progress-bar bg-danger"
                                 role="progressbar"
                                 style="width: @(overdueTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                                <div class="progress-bar bg-warning"
                                 role="progressbar"
                                 style="width: @(estimatedTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                            </div>


                    </a>
                    @{
                        if (project.Value == 0)
                        {
                            <form asp-action="CreateEdit" asp-route-id="@project.Key.id">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    EDIT
                                </button>
                            </form>
                            <form asp-action="Index" asp-route-projectid="@project.Key.id" asp-route-projectName="@project.Key.projectName" asp-controller="Complexity">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                                data-mdb-ripple-color="dark"
                                style="color:#5069A4">
                                    COMPLEXITY
                                </button>
                            </form>
                            <button type="button" data-mdb-toggle="modal"
                            data-mdb-target="@staticBackdropTarget"
                            class="btn btn-link btn-lg h-100 align-self-end me-3"
                            data-mdb-ripple-color="dark"
                            style="color:red">
                                DELETE
                            </button>

                        }
                        else
                        {
                            <form asp-action="Info" asp-route-id="@project.Key.id">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 mx-2 align-self-end me-3"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    INFO
                                </button>
                            </form>
                        }
                    }
                    <br>
                    @{
                        //string help = "" + project.Key.DifficultyEstimated;
                        //help = help.Replace(',', '.');
                        /*style="width:@(help+"%");"*/
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        if (project.Value == 0)
                        {
                            int id = project.Key.id;
                            <form asp-controller="Project" asp-action="ChangeDifficult" asp-route-projectid="@id" method="post">

                                <input type="submit" hidden />
                            </form>
                        }
                    }
                </div>
                <div class="modal fade"
                 id="@staticBackdropid"
                 data-mdb-backdrop="static"
                 data-mdb-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel"
                 aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white d-flex justify-content-center">
                                <i class="fas fa-trash-alt fa-3x"></i>
                            </div>
                            <div class="modal-body d-flex justify-content-center text-black text-center">
                                <h5 class="modal-title">Are you sure you want to<br /> delete the project?</h5>
                            </div>
                            <div class="modal-footer align-content-between d-flex justify-content-center">
                                <form asp-action="DeleteProject" asp-route-id="@project.Key.id">
                                    <button type="submit" class="btn btn-outline-black" data-mdb-dismiss="modal">Yes</button>
                                </form>
                                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="currentProjectsDummy" class="dropzone rounded-8 hideDrop" style="background-color: #EFEDED;display:flex">

                <h4 class="m-3 ms-4 text-black align-self-start" style="max-width:20%; min-width:17%;opacity:0%">Dummy</h4>
                <div class="progress mx-2 my-auto bg-white rounded-8 flex-fill" style="height:15%">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar bg-success"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar bg-info"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                <button type="button"
                        class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                        data-mdb-ripple-color="dark"
                        style="color:#6750A4" disabled>
                    EDIT
                </button>

                <button type="button"
                        class="btn btn-link btn-lg h-100 align-self-end"
                        data-mdb-ripple-color="dark"
                        style="color:red" disabled>
                    DELETE
                </button>
            </div>
        }



    </div>
    <div id="futureProjects" class="mt-2 d-grid gap-3" ondrop="drop(event,'future')" ondragover="allowDrop(event)" ondragenter="dragEnter('futureProjects')" ondragleave="dragLeave('futureProjects')">
        <h3 style="z-index:-2;">Future Projects</h3>
        @{
            foreach (KeyValuePair<Project, int> project in futureProjects)
            {
                string staticBackdropid = "id" + @project.Key.id;
                string staticBackdropTarget = "#" + @staticBackdropid;
                DateTime currentD = DateTime.Now;

                double rangeDaysAll = 0;

                double rangeDaysStartToFinished = 0;
                double finishedTime = 0;

                double rangeDaysStartToOverdue = 0;
                double overdueTime = 0;

                double rangeDaysStartToCurrent = 0;
                double estimatedTime = 0;

                foreach (UserStory story in ViewBag.UserStories)
                {
                    if (story.project_id == @project.Key.id)
                    {
                        double difference = (story.endDate - story.startDate).TotalDays;

                        rangeDaysAll += difference;

                        if (story.state == 2)
                        {
                            rangeDaysStartToFinished += difference;
                        }
                        else if (story.endDate < currentD)
                        {
                            rangeDaysStartToOverdue += difference;
                        }
                        else if (story.startDate < currentD)
                        {
                            rangeDaysStartToCurrent = (currentD - story.startDate).TotalDays;
                        }
                    }
                }

                string estimatedTimePercent = "0";
                string overdueTimePercent = "0";
                string finishedTimePercent = "0";

                if (rangeDaysAll > 0)
                {
                    finishedTime = rangeDaysStartToFinished / rangeDaysAll * 100;

                    overdueTime = (rangeDaysStartToOverdue / rangeDaysAll * 100);

                    estimatedTime = (rangeDaysStartToCurrent / rangeDaysAll * 100);


                    finishedTimePercent = ("" + (finishedTime)).Replace(',', '.');

                    overdueTimePercent = ("" + (overdueTime)).Replace(',', '.');

                    estimatedTimePercent = ("" + (estimatedTime)).Replace(',', '.');
                }


                <div class="projectItem rounded-8"
                 id="@("projectItem"+@project.Key.id)"
                 style="background-color: #EFEDED;display:flex"
                 draggable="true" ondragstart="drag(event,@project.Key.id)" ondragend="endDrag(event)">
                    <a class="projectlist d-flex flex-fill" asp-action="Index" asp-route-projectid="@project.Key.id" asp-route-projectName="@project.Key.projectName" asp-controller="UserStory">
                        <h4 class="m-3 ms-4 text-black align-self-start" style="max-width:20%; min-width:20%">@project.Key.projectName</h4>
                        <div class="progress mx-2 my-auto bg-white rounded-8 flex-fill" style="height:10px">
                                <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: @(finishedTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                                <div class="progress-bar bg-danger"
                                 role="progressbar"
                                 style="width: @(overdueTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                                <div class="progress-bar bg-warning"
                                 role="progressbar"
                                 style="width: @(estimatedTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                            </div>

                    </a>
                    @{
                        if (project.Value == 0)
                        {
                            <form asp-action="CreateEdit" asp-route-id="@project.Key.id">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    EDIT
                                </button>
                            </form>

                            <form asp-action="Index" asp-route-projectid="@project.Key.id" asp-route-projectName="@project.Key.projectName" asp-controller="Complexity">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    COMPLEXITY
                                </button>
                            </form>

                            <button type="button" data-mdb-toggle="modal"
                            data-mdb-target="@staticBackdropTarget"
                            class="btn btn-link btn-lg h-100 align-self-end me-3"
                            data-mdb-ripple-color="dark"
                            style="color:red">
                                DELETE
                            </button>
                        }
                        else
                        {
                            <form asp-action="Info" asp-route-id="@project.Key.id">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 mx-2 align-self-end me-3"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    INFO
                                </button>
                            </form>
                        }
                    }
                </div>
                <div class="modal fade"
                 id="@staticBackdropid"
                 data-mdb-backdrop="static"
                 data-mdb-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel"
                 aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white d-flex justify-content-center">
                                <i class="fas fa-trash-alt fa-3x"></i>
                            </div>
                            <div class="modal-body d-flex justify-content-center text-black text-center">
                                <h5 class="modal-title">Are you sure you want to<br /> delete the project?</h5>
                            </div>
                            <div class="modal-footer align-content-between d-flex justify-content-center">
                                <form asp-action="DeleteProject" asp-route-id="@project.Key.id">
                                    <button type="submit" class="btn btn-outline-black" data-mdb-dismiss="modal">Yes</button>
                                </form>
                                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="futureProjectsDummy" class="dropzone rounded-8 hideDrop" style="background-color: #EFEDED;display:flex">

                <h4 class="m-3 ms-4 text-black align-self-start" style="max-width:20%; min-width:17%;opacity:0%">Dummy</h4>
                <div class="progress mx-2 my-auto bg-white rounded-8 flex-fill" style="height:15%">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar bg-success"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar bg-info"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>

                <button type="button"
                        class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                        data-mdb-ripple-color="dark"
                        style="color:#6750A4" disabled>
                    EDIT
                </button>

                <button type="button"
                        class="btn btn-link btn-lg h-100 align-self-end"
                        data-mdb-ripple-color="dark"
                        style="color:red" disabled>
                    DELETE
                </button>

            </div>
        }

    </div>



    <div id="pastProjects" class="mt-2 d-grid gap-3" ondrop="drop(event,'past')" ondragover="allowDrop(event)" ondragenter="dragEnter('pastProjects')" ondragleave="dragLeave('pastProjects')">
        <h3 style="z-index:-3;">Past Projects</h3>
        @{
            foreach (KeyValuePair<Project, int> project in pastProjects)
            {
                string staticBackdropid = "id" + @project.Key.id;
                string staticBackdropTarget = "#" + @staticBackdropid;
                DateTime currentD = DateTime.Now;

                double rangeDaysAll = 0;

                double rangeDaysStartToFinished = 0;
                double finishedTime = 0;

                double rangeDaysStartToOverdue = 0;
                double overdueTime = 0;

                double rangeDaysStartToCurrent = 0;
                double estimatedTime = 0;

                foreach (UserStory story in ViewBag.UserStories)
                {
                    if (story.project_id == @project.Key.id)
                    {
                        double difference = (story.endDate - story.startDate).TotalDays;

                        rangeDaysAll += difference;

                        if (story.state == 2)
                        {
                            rangeDaysStartToFinished += difference;
                        }
                        else if (story.endDate < currentD)
                        {
                            rangeDaysStartToOverdue += difference;
                        }
                        else if (story.startDate < currentD)
                        {
                            rangeDaysStartToCurrent = (currentD - story.startDate).TotalDays;
                        }
                    }
                }

                string estimatedTimePercent = "0";
                string overdueTimePercent = "0";
                string finishedTimePercent = "0";

                if (rangeDaysAll > 0)
                {
                    finishedTime = rangeDaysStartToFinished / rangeDaysAll * 100;

                    overdueTime = (rangeDaysStartToOverdue / rangeDaysAll * 100);

                    estimatedTime = (rangeDaysStartToCurrent / rangeDaysAll * 100);


                    finishedTimePercent = ("" + (finishedTime)).Replace(',', '.');

                    overdueTimePercent = ("" + (overdueTime)).Replace(',', '.');

                    estimatedTimePercent = ("" + (estimatedTime)).Replace(',', '.');
                }

                <div class="projectItem rounded-8"
                 id="@("projectItem"+@project.Key.id)"
                 style="background-color: #EFEDED;display:flex"
                 draggable="true"
                 ondragstart="drag(event,@project.Key.id)" ondragend="endDrag(event)">
                    <a class="projectlist d-flex flex-fill" asp-action="Index" asp-route-projectid="@project.Key.id" asp-route-projectName="@project.Key.projectName" asp-controller="UserStory">
                        <h4 class="m-3 ms-4 text-black align-self-start" style="max-width:20%; min-width:20%">@project.Key.projectName</h4>
                        <div class="progress mx-2 my-auto bg-white rounded-8 flex-fill" style="height:10px">
                                <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: @(finishedTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                                <div class="progress-bar bg-danger"
                                 role="progressbar"
                                 style="width: @(overdueTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                                <div class="progress-bar bg-warning"
                                 role="progressbar"
                                 style="width: @(estimatedTimePercent+"%");"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                            </div>

                    </a>
                    @{
                        if (project.Value == 0)
                        {
                            <form asp-action="CreateEdit" asp-route-id="@project.Key.id">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    EDIT
                                </button>
                            </form>

                            <form asp-action="Index" asp-route-projectid="@project.Key.id" asp-route-projectName="@project.Key.projectName" asp-controller="Complexity">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    COMPLEXITY
                                </button>
                            </form>

                            <button type="button" data-mdb-toggle="modal"
                            data-mdb-target="@staticBackdropTarget"
                            class="btn btn-link btn-lg h-100 align-self-end me-3"
                            data-mdb-ripple-color="dark"
                            style="color:red">
                                DELETE
                            </button>
                        }
                        else
                        {
                            <form asp-action="Info" asp-route-id="@project.Key.id">
                                <button type="submit"
                                class="btn btn-link btn-lg h-100 mx-2 align-self-end me-3"
                                data-mdb-ripple-color="dark"
                                style="color:#6750A4">
                                    INFO
                                </button>
                            </form>

                        }
                    }
                </div>
                <div class="modal fade"
                 id="@staticBackdropid"
                 data-mdb-backdrop="static"
                 data-mdb-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel"
                 aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white d-flex justify-content-center">
                                <i class="fas fa-trash-alt fa-3x"></i>
                            </div>
                            <div class="modal-body d-flex justify-content-center text-black text-center">
                                <h5 class="modal-title">Are you sure you want to<br /> delete the project?</h5>
                            </div>
                            <div class="modal-footer align-content-between d-flex justify-content-center">
                                <form asp-action="DeleteProject" asp-route-id="@project.Key.id">
                                    <button type="submit" class="btn btn-outline-black" data-mdb-dismiss="modal">Yes</button>
                                </form>
                                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="pastProjectsDummy" class="dropzone rounded-8 hideDrop" style="background-color: #EFEDED;display:flex">

                <h4 class="m-3 ms-4 text-black align-self-start" style="max-width:20%; min-width:17%;opacity:0%">Dummy</h4>
                <div class="progress mx-2 my-auto bg-white rounded-8 flex-fill" style="height:15%">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar bg-success"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar bg-info"
                         role="progressbar"
                         style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                <button type="button"
                        class="btn btn-link btn-lg h-100 ms-2 align-self-end"
                        data-mdb-ripple-color="dark"
                        style="color:#6750A4" disabled>
                    EDIT
                </button>

                <button type="button"
                        class="btn btn-link btn-lg h-100 align-self-end"
                        data-mdb-ripple-color="dark"
                        style="color:red" disabled>
                    DELETE
                </button>
            </div>
        }

    </div>
</div>

