@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    #loginBox {
        border: 4px solid #000000;
        border-radius: 20px;
        max-width: 30%;
        max-height: 90%;
    }

    section {
        position: absolute;
        top: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
    }

</style>




<section>
    <div class="h-100 mw-100 d-flex align-items-center justify-content-center">
        <div class="align-items-center justify-content-center" id="loginBox">
            <div class="mt-5 d-flex align-items-center justify-content-center">
                <img src="~/pictures/SSI_Schäfer_Logo.png" alt="SSI Schäfer" width="90%" class="logoLogin" />
            </div>
            <div class="mt-5 mb-5 d-flex align-items-center justify-content-center">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <i class="fas fa-user-alt trailing"></i>
                        <input asp-for="Input.Email" type="email" id="formUser" class="form-control form-control-lg form-icon-trailing" />
                        <label class="form-label" asp-for="Input.Email"></label>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <i class="fas fa-key trailing"></i>
                        <input asp-for="Input.Password" type="password" id="formPassword" class="form-control form-control-lg form-icon-trailing" />
                        <label class="form-label" asp-for="Input.Password"></label>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="form-outline mb-4">
                        <i class="fas fa-key trailing"></i>
                        <input asp-for="Input.ConfirmPassword" type="password" id="formPassword" class="form-control form-control-lg form-icon-trailing" />
                        <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <!-- all Errors -->
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <!-- Submit button -->
                    <div class="mb-4 mt-4 d-grid gap-2 col-10 mx-auto">
                        <button type="submit" class="btn btn-blue-gray-50 btn-lg btn-rounded">Register</button>
                    </div>

                    <div style="text-align:center">
                        <a class="mt-2" href="Login">Login?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!--
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
