@model ProjectManagementApplication.Models.Complexity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    #routeLink {
        color: black;
    }

        #routeLink:hover {
            color: blue;
        }

    #linkState {
        font-size: 20px;
    }

</style>




<!--Navigation-->
<div id="topNavigation" class="mb-4 d-flex justify-content-end">

    <nav id="linkState" class="me-auto p-2">
        <span>/</span>
        <a href="../" id="routeLink">Project</a>
        <span>/</span>
        <a class="text-reset"><u>Complexity</u></a>
    </nav>
</div>


<!--Calculated Complexity-->
<div class="rounded-8 px-3 py-3 mb-4" style="background-color:#EFE407;">
    <h2 class="mb-4 text-black">Calculated Complexity</h2>
    <div class="progress rounded-6 mx-3" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<hr />
<!--fixed criteria-->
<div class="d-flex flex-column">
    <!--Estimated Complexity-->
    <div id="estimatedComplexity" class="criteria py-4 px-3">
        <div class="d-flex mb-5">
            <h3 class="text-black my-auto">Estimated Complexity</h3>
            <div class="form-outline my-auto mx-3 ms-auto">
                <input type="text" id="estimatedComplexityWeight" class="form-control weightInput" onchange="weightChanged(event)" min="0" max="100" value="0%" />
                <label class="form-label" for="typeNumber">Weight</label>
            </div>

            <div class="form-check form-switch my-auto">
                <input class="criteria-switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked />
            </div>
        </div>

        <div class="range mx-3" style="height: 20px">
            <input type="range" class="form-range form-range-lg" id="customRange1" min="0" max="100" value="0" />
        </div>
    </div>
    <hr />
    <!--Code Comparison-->
    <div id="codeComparison" class="criteria py-4 px-3">
        <div class="d-flex mb-5">
            <h3 class="text-black my-auto">Code Comparison</h3>
            <div class="form-outline my-auto mx-3 ms-auto">
                <input type="text" id="codeComparisonWeight" class="form-control weightInput" onchange="weightChanged(event)" min="0" max="100" value="0%" />
                <label class="form-label" for="typeNumber">Weight</label>
            </div>

            <div class="form-check form-switch my-auto">
                <input class="criteria-switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked />
            </div>
        </div>
    </div>
    <hr />
    <!--Gerrit Analysis-->
    <div id="gerritAnalysis" class="criteria py-4 px-3">
        <div class="d-flex mb-5">
            <h3 class="text-black my-auto">Gerrit Analysis</h3>
            <div class="form-outline my-auto mx-3 ms-auto">
                <input type="text" id="gerritAnalysisWeight" class="form-control weightInput" onchange="weightChanged(event)" min="0" max="100" value="0%" />
                <label class="form-label" for="typeNumber">Weight</label>
            </div>

            <div class="form-check form-switch my-auto ">
                <input class="criteria-switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked />
            </div>
        </div>
    </div>
    <hr />
    <!--Jira Analysis-->
    <div id="jiraAnalysis" class="criteria py-4 px-3">
        <div class="d-flex mb-5">
            <h3 class="text-black my-auto">Jira Analysis</h3>
            <div class="form-outline my-auto mx-3 ms-auto">
                <input type="text" id="jiraAnalysisWeight" class="form-control weightInput" onchange="weightChanged(event)" min="0" max="100" value="0%" />
                <label class="form-label" for="typeNumber">Weight</label>
            </div>

            <div class="form-check form-switch my-auto">
                <input class="criteria-switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked />
            </div>
        </div>
    </div>
    <hr />
    <h3>Custom Complexities:</h3>

    <!--Added criteria-->
    @{
        foreach (Complexity complexity in ViewBag.Complexities)
        {
                            <hr />
                            <div id="@("addedComplexity" + complexity.id)" class="criteria py-4 px-3">
                                <div class="d-flex">
                                    <h3 class="text-black my-auto">@(complexity.ComplexityName)</h3>

                                    <div class="form-check form-switch my-auto ms-auto">
                                        @if (complexity.ComplexityOn == true){
                                            <input class="criteria-switch form-check-input" type="checkbox" role="switch" id="@("flexSwitchCheckDefault" + complexity.id)" 
                                            onclick="@("switchComplexity("+complexity.id+","+ViewBag.currentProjectId+",'"+ViewBag.currentProjectName+"')")" checked />
                                        }
                                        else
                                        {
                                            <input class="criteria-switch form-check-input" type="checkbox" role="switch" id="@("flexSwitchCheckDefault" + complexity.id)" 
                                            onclick="@("switchComplexity("+complexity.id+","+ViewBag.currentProjectId+",'"+ViewBag.currentProjectName+"')")" />
                                        }
                                    </div>

                                    <form hidden id="@("delForm"+complexity.id)" asp-action="DeleteComplexity" asp-route-pid="@ViewBag.currentProjectId" asp-route-pName="@ViewBag.currentProjectName" method="post">
                                        <input asp-for="id" id="coplexityIdDel" value="@(complexity.id)" hidden />
                                    </form>

                                    <button type="button" class="btn btn-danger btn-floating mx-2" onclick="openDelComplexityModal('@("#delComplexityModal"+complexity.id)');">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    

                                    <!-- Modal delete Userstory-->
                                    <div class="modal fade"
                                     id="@("delComplexityModal"+complexity.id)"
                                     data-mdb-backdrop="static"
                                     data-mdb-keyboard="false"
                                     tabindex="-1"
                                     aria-labelledby="@("delComplexityModal"+complexity.id+"Label")"
                                     aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary text-white d-flex justify-content-center">
                                                    <i class="fas fa-trash-alt fa-3x"></i>
                                                </div>
                                                <div class="modal-body d-flex justify-content-center text-black text-center">
                                                    <h5 class="modal-title">Are you sure you want to<br /> delete this User-Story?</h5>
                                                </div>
                                                <div class="modal-footer align-content-between d-flex justify-content-center">
                                                    <button type="submit" form="@("delForm"+complexity.id)" class="btn btn-outline-black" data-mdb-dismiss="modal">Yes</button>
                                                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="d-flex mt-2">
                                    <h5 class="text-black my-auto">@(complexity.ComplexityDescription)</h5>
                                </div>

                                <div class="d-flex mt-3">
                                    <h5 class="text-black my-auto">Weight</h5>

                                    <div class="form-outline my-auto mx-3 ms-auto">
                                        <input type="text" id="estimatedComplexityWeight" class="form-control weightInput" onkeyup="@("updateWeight("+complexity.id+","+ViewBag.currentProjectId+",'"+ViewBag.currentProjectName+"',this)")" min="0" max="100" value="@(complexity.ComplexityWeight + "%")" />
                                        <label class="form-label" for="typeNumber">Weight</label>
                                    </div>
                                </div>


                                <div class="d-flex mt-3">
                                    <h5 class="text-black my-auto">Scale</h5>

                                    <div class="form-outline my-auto mx-3 ms-auto">
                                        <input type="number" id="@("addedComplexityRangeDisplay"+complexity.id)" for="@("addedComplexityRange"+complexity.id)" class="form-control ms-auto" onkeyup="@("rangeDisplayChanged("+complexity.id+","+ViewBag.currentProjectId+",'"+ViewBag.currentProjectName+"')")" min="0" max="100" value="@(complexity.ComplexityScale)" />
                                        <label class="form-label" for="rangeDisplay">Scale</label>
                                    </div>
                                </div>

                                <div class="range mx-3 mt-2" style="height: 20px">
                                    <input type="range" class="form-range form-range-lg addedSlider" 
                                    id="@("addedComplexityRange"+complexity.id)" name="@("addedComplexityRange"+complexity.id)"
                                    oninput="@("rangeChanged("+complexity.id+","+ViewBag.currentProjectId+",'"+ViewBag.currentProjectName+"')")" onchange="@("rangeChanged("+complexity.id+","+ViewBag.currentProjectId+",'"+ViewBag.currentProjectName+"')")" 
                                    min="0" max="100" value="@(complexity.ComplexityScale)" />
                                </div>

                            </div>

        }
    }

    <hr />
    <div class="d-flex my-5">
        <button id="btnAddUserstory" type="button" class="btn btn-link text-black btn-floating my-auto mx-auto" data-mdb-toggle="modal" data-mdb-target="#createComplexityModal">
            <i class="fas fa-plus fa-2x"></i>
        </button>
    </div>
</div>



<div class="d-flex justify-content-center mx-auto my-5 py-5">
    <a class="btn btn-lg" style="background-color: #EFE407;" href="../" role="button">
        RETURN
    </a>
</div>

<div class="modal fade"
     id="createComplexityModal"
     data-mdb-backdrop="static"
     data-mdb-keyboard="false"
     tabindex="-1"
     aria-labelledby="createComplexityModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <form id="crateComplexityForm" asp-action="CreateEditComplexity" asp-route-pid="@ViewBag.currentProjectId" asp-route-pName="@ViewBag.currentProjectName" method="post">
                <input asp-for="ComplexityWeight" id="storyId" value="0" hidden />

                <div class="modal-header" style=" border-bottom: 1px solid #dcdfe4;">
                    <h5 class="modal-title text-black" id="staticBackdropLabel">Create Complexity</h5>
                </div>
                <div class="modal-body  p-0">
                    <div class="container-fluid p-0">
                        <div class="d-flex align-items-start">
                            <div class="d-flex flex-column flex-fill px-3">

                                <!--Complexity Name-->
                                <div class="d-flex flex-column my-2">
                                    <div class="d-flex my-1">
                                        <label class="form-label text-black" for="createComplexityTitle">Name</label>
                                    </div>
                                    <div class="form-outline" style="border-color:#dcdfe4;">
                                        <input id="complexityName" asp-for="ComplexityName" type="text" class="form-control form-control-lg text-black px-2" required />
                                    </div>
                                </div>

                                <div class="d-flex flex-column my-2 mt-3">
                                    <!--Complexity Scale-->
                                    <div class="d-flex my-1">
                                        <i class="fas fa-info-circle trailing my-auto me-2 text-black"></i>
                                        <label class="form-label flex-fill my-auto text-black" for="createComplexityRange">Complexity Scale</label>
                                    </div>
                                    <div class="range mt-2" style="height: 20px">
                                        <input type="range" asp-for="ComplexityScale" class="form-range form-range-lg" id="createComplexityRange" min="0" max="100" value="0" />
                                    </div>
                                </div>

                                <div class="d-flex flex-column my-2 mt-3">
                                    <!--Complexity Description-->
                                    <div class="d-flex my-1">
                                        <i class="fas fa-info-circle trailing my-auto me-2 text-black"></i>
                                        <label class="form-label flex-fill my-auto text-black" for="createComplexityDescription">Description</label>
                                    </div>
                                    <div class="form-outline" style="border-color:#dcdfe4;">
                                        <textarea id="createComplexityDescription" asp-for="ComplexityDescription" class="form-control form-control-lg px-2" rows="2"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style=" border-top: 1px solid #dcdfe4;">
                    <button type="button" onclick="resetCreateModal()" class="btn btn-link btn-lg text-dark" data-mdb-dismiss="modal">CANCEL</button>
                    <button id="storySubmitInputDummy" type="submit" class="btn btn-link btn-lg text-success">CREATE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/complexity.js" type="text/javascript"></script>



