@model ProjectManagementApplication.Models.UserStory
@using Microsoft.AspNetCore.Identity

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    body {
        background: white;
    }

    .modallabel {
        font-size: 26px !important;
        font-weight: 400 !important;
        line-height: 34px !important;
    }

    .userstoryItem {
        box-shadow: 0;
        transition: box-shadow 0.5s;
    }

        .userstoryItem:hover {
            box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
            transition: box-shadow 1s ease;
            cursor: pointer;
        }

    .sendtoback {
        z-index: -3;
    }

    .hoverBorder {
        border: 1px solid;
        border-color: transparent;
    }

        .hoverBorder:hover {
            border: 1px solid #dcdfe4;
        }



    .employee {
        background-color: #EFE407;
    }

        .employee i {
            opacity: 0%;
            transition: opacity .5s;
        }

            .employee i:hover {
                opacity: 100%
            }



    .admin {
        background-color: firebrick;
    }

        .admin i {
            opacity: 0%;
            transition: opacity .5s;
        }

            .admin i:hover {
                opacity: 100%
            }

    #routeLink {
        color: black;
    }

        #routeLink:hover {
            color: blue;
        }

    #linkState {
        font-size: 20px;
    }

</style>

<script type="text/javascript" src="~/js/userStory.js"></script>

<meta charset="utf-8" />

<div id="topNavigation" class="me-2 d-flex justify-content-end">

    <nav id="linkState" class="me-auto p-2 my-auto">
        <span>/</span>
        <a href="../" id="routeLink">Projects</a>
        <span>/</span>
        <a class="text-reset"><u>@ViewBag.currentProjectName</u></a>
    </nav>

    <div class="input-group border-0 w-25 rounded-8 my-auto" style="background-color: #EFEDED">
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
        <input type="search"
               class="form-control border-0 bg-transparent autocomplete-input"
               placeholder=""
               aria-describedby="search-addon"
               id="keyWordInput" oninput="filterPrjectlist()"
               style="border-radius: 20px" />
    </div>
</div>

<!--Input Data for UserStory-->
<h2 class="my-4 text-black">@ViewBag.currentProjectName</h2>

<!--User-Story-Board-->
<div class="d-flex flex-wrap mt-2 mb-5">
    <!--Product Backlog-->
    <div class="d-flex flex-column mx-auto px-3">
        <div id="status" class="pb-3">

            <div class="d-flex rounded-3" style="background-color: #EFEDED; border-bottom: 5px solid #00EFFF">
                <h4 class="my-2 mx-3 me-5 text-nowrap" id="statusTitle">Product Backlog</h4>
            </div>

        </div>
        @{
            foreach (UserStory userstory in ViewBag.UserStorys)
            {
                DateTime currentDate = DateTime.Now;
                @if (currentDate < userstory.startDate && userstory.state == 0)
                {
                    <div class="userstoryItem my-2 rounded-6" style="background-color:#EFEDED">
                        <div class="d-flex">
                            <div class="d-flex py-2 ps-3 pe-auto flex-fill" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">
                                <h4 class="my-auto text-nowrap" id="taskTitle">@userstory.name</h4>
                            </div>
                            <form asp-controller="UserStory" asp-action="ChangeStateUserStory" method="post" asp-route-storyid="@userstory.id" asp-route-pid="@ViewBag.currentProjectId" asp-route-pName="@ViewBag.currentProjectName">
                                <button type="submit" class="btn btn-lg btn-floating btn-link mx-3 my-2" data-mdb-ripple-color="dark">
                                    @if (userstory.state == 0)
                                    {
                                        <i class="fas fa-check text-black fa-2x"></i>
                                    }
                                    else
                                    {

                                        <i class="fas fa-check text-success fa-2x"></i>
                                    }
                                </button>
                            </form>
                        </div>
                        <div class="d-flex py-1 px-3" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">
                            <div class="d-flex flex-column bg-transparent me-3">
                                <div class="me-3">
                                    <i class="fas fa-calendar trailing"></i>
                                    <span>Start Date</span>
                                </div>
                                <span>@userstory.startDate.ToString().Split(' ')[0]</span>
                            </div>
                            <div class="bg-transparent d-flex flex-column">
                                <div>
                                    <i class="fas fa-calendar trailing"></i>
                                    <span>Due Date</span>
                                </div>
                                <span>@userstory.endDate.ToString().Split(' ')[0]</span>
                            </div>
                        </div>
                        @{
                            string estimatedPercent = "0";
                            string finishedPercent = "0";
                            string overduePercent = "0";
                            if (userstory.state == 0)
                            {
                                double diffDays = (DateTime.Now - userstory.startDate).TotalDays;
                                if (diffDays > 0)
                                {
                                    double percent = diffDays / (userstory.endDate - userstory.startDate).TotalDays * 100;
                                    if (percent >= 100)
                                    {
                                        overduePercent = "100";
                                    }
                                    else
                                    {
                                        estimatedPercent = ("" + (percent)).Replace(',', '.');
                                    }
                                }
                            }
                            else
                            {
                                finishedPercent = "100";
                            }
                        }
                        <div class="py-2 pb-3" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">

                            <div class="bg-transparent mx-3">
                                <i class="fas fa-clipboard-check trailing my-auto" style="color: @(userstory.state != 0 ? "green" : "");"></i>
                                <label class="form-labelbCreateEdit my-auto" for="progressBar">Progress</label>
                            </div>

                            <div class="progress my-2 mx-3 bg-white rounded-8" id="progressBar" style="height:15px">
                                <div class="progress-bar bg-danger"
                             id="@("overdue" + userstory.id)"
                             role="progressbar"
                             style="width: @(overduePercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                                <div class="progress-bar bg-warning"
                             id="@("estimated" + userstory.id)"
                             role="progressbar"
                             style="width: @(estimatedPercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                                <div class="progress-bar bg-success"
                             id="@("finished" + userstory.id)"
                             role="progressbar"
                             style="width: @(finishedPercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        <div class="my-2 mb-4 d-flex justify-content-center w-100">
            <button id="btnAddUserstory" type="button" class="btn btn-link text-black btn-floating" data-mdb-toggle="modal" data-mdb-target="#createModal">
                <i class="fas fa-plus fa-2x"></i>
            </button>
        </div>
    </div>

    <!--In Progress-->
    <div class="d-flex flex-column mx-auto px-3">
        <div id="status" class="pb-3">

            <div class="d-flex rounded-3" style="background-color: #EFEDED; border-bottom: 5px solid #ffa900">
                <h4 class="my-2 mx-3 me-5 text-nowrap" id="statusTitle">In Progress</h4>
            </div>

        </div>
        @{
            foreach (UserStory userstory in ViewBag.UserStorys)
            {
                DateTime currentDate = DateTime.Now;
                @if (currentDate > userstory.startDate && userstory.state == 0)
                {
                    <div class="userstoryItem my-2 rounded-6" style="background-color:#EFEDED">
                        <div class="d-flex">
                            <div class="d-flex py-2 ps-3 pe-auto flex-fill" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">
                                <h4 class="my-auto text-nowrap" id="taskTitle">@userstory.name</h4>
                            </div>
                            <form asp-controller="UserStory" asp-action="ChangeStateUserStory" method="post" asp-route-storyid="@userstory.id" asp-route-pid="@ViewBag.currentProjectId" asp-route-pName="@ViewBag.currentProjectName">
                                <button type="submit" class="btn btn-lg btn-floating btn-link mx-3 my-2" data-mdb-ripple-color="dark">
                                    @if (userstory.state == 0)
                                    {
                                        <i class="fas fa-check text-black fa-2x"></i>
                                    }
                                    else
                                    {

                                        <i class="fas fa-check text-success fa-2x"></i>
                                    }
                                </button>
                            </form>
                        </div>
                        <div class="d-flex py-1 px-3" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">
                            <div class="d-flex flex-column bg-transparent me-3">
                                <div class="me-3">
                                    <i class="fas fa-calendar trailing"></i>
                                    <span class="text-nowrap">Start Date</span>
                                </div>
                                <span>@userstory.startDate.ToString().Split(' ')[0]</span>
                            </div>
                            <div class="bg-transparent d-flex flex-column">
                                <div>
                                    <i class="fas fa-calendar trailing"></i>
                                    <span>Due Date</span>
                                </div>
                                <span>@userstory.endDate.ToString().Split(' ')[0]</span>
                            </div>
                        </div>
                        @{
                            string estimatedPercent = "0";
                            string finishedPercent = "0";
                            string overduePercent = "0";
                            if (userstory.state == 0)
                            {
                                double diffDays = (DateTime.Now - userstory.startDate).TotalDays;
                                if (diffDays > 0)
                                {
                                    double percent = diffDays / (userstory.endDate - userstory.startDate).TotalDays * 100;
                                    if (percent >= 100)
                                    {
                                        overduePercent = "100";
                                    }
                                    else
                                    {
                                        estimatedPercent = ("" + (percent)).Replace(',', '.');
                                    }
                                }
                            }
                            else
                            {
                                finishedPercent = "100";
                            }
                        }
                        <div class="py-2 pb-3" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">

                            <div class="bg-transparent mx-3">
                                <i class="fas fa-clipboard-check trailing my-auto" style="color: @(userstory.state != 0 ? "green" : "");"></i>
                                <label class="form-labelbCreateEdit my-auto" for="progressBar">Progress</label>
                            </div>

                            <div class="progress my-2 mx-3 bg-white rounded-8" id="progressBar" style="height:15px">
                                <div class="progress-bar bg-danger"
                             id="@("overdue" + userstory.id)"
                             role="progressbar"
                             style="width: @(overduePercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                                <div class="progress-bar bg-warning"
                             id="@("estimated" + userstory.id)"
                             role="progressbar"
                             style="width: @(estimatedPercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                                <div class="progress-bar bg-success"
                             id="@("finished" + userstory.id)"
                             role="progressbar"
                             style="width: @(finishedPercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        <div class="my-2 mb-4 d-flex justify-content-center w-100">
            <button id="btnAddUserstory" type="button" class="btn btn-link text-black btn-floating" data-mdb-toggle="modal" data-mdb-target="#createModal">
                <i class="fas fa-plus fa-2x"></i>
            </button>
        </div>
    </div>
    <!--Done-->
    <div class="d-flex flex-column mx-auto px-3">
        <div id="status" class="pb-3">

            <div class="d-flex rounded-3" style="background-color: #EFEDED; border-bottom: 5px solid #00b74a">
                <h4 class="my-2 mx-3 me-5 text-nowrap" id="statusTitle">Done</h4>
            </div>

        </div>
        @{
            foreach (UserStory userstory in ViewBag.UserStorys)
            {

                @if (userstory.state == 2)
                {


                    <div class="userstoryItem my-2 rounded-6" style="background-color:#EFEDED">
                        <div class="d-flex">
                            <div class="d-flex py-2 ps-3 pe-auto flex-fill" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">
                                <h4 class="my-auto text-nowrap" id="taskTitle">@userstory.name</h4>
                            </div>
                            <form asp-controller="UserStory" asp-action="ChangeStateUserStory" method="post" asp-route-storyid="@userstory.id" asp-route-pid="@ViewBag.currentProjectId" asp-route-pName="@ViewBag.currentProjectName">
                                <button type="submit" class="btn btn-lg btn-floating btn-link mx-3 my-2" data-mdb-ripple-color="dark">
                                    @if (userstory.state == 0)
                                    {
                                        <i class="fas fa-check text-black fa-2x"></i>
                                    }
                                    else
                                    {

                                        <i class="fas fa-check text-success fa-2x"></i>
                                    }
                                </button>
                            </form>
                        </div>
                        <div class="d-flex py-1 px-3" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">
                            <div class="d-flex flex-column bg-transparent me-3">
                                <div class="me-3">
                                    <i class="fas fa-calendar trailing"></i>
                                    <span>Start Date</span>
                                </div>
                                <span>@userstory.startDate.ToString().Split(' ')[0]</span>
                            </div>
                            <div class="bg-transparent d-flex flex-column">
                                <div>
                                    <i class="fas fa-calendar trailing"></i>
                                    <span>Due Date</span>
                                </div>
                                <span>@userstory.endDate.ToString().Split(' ')[0]</span>
                            </div>
                        </div>
                        @{
                            string estimatedPercent = "0";
                            string finishedPercent = "0";
                            string overduePercent = "0";
                            if (userstory.state == 0)
                            {
                                double diffDays = (DateTime.Now - userstory.startDate).TotalDays;
                                if (diffDays > 0)
                                {
                                    double percent = diffDays / (userstory.endDate - userstory.startDate).TotalDays * 100;
                                    if (percent >= 100)
                                    {
                                        overduePercent = "100";
                                    }
                                    else
                                    {
                                        estimatedPercent = ("" + (percent)).Replace(',', '.');
                                    }
                                }
                            }
                            else
                            {
                                finishedPercent = "100";
                            }
                        }
                        <div class="py-2 pb-3" onclick="showDetailView('@userstory.id', @ViewBag.currentProjectId)">

                            <div class="bg-transparent mx-3">
                                <i class="fas fa-clipboard-check trailing my-auto" style="color: @(userstory.state != 0 ? "green" : "");"></i>
                                <label class="form-labelbCreateEdit my-auto" for="progressBar">Progress</label>
                            </div>

                            <div class="progress my-2 mx-3 bg-white rounded-8" id="progressBar" style="height:15px">
                                <div class="progress-bar bg-danger"
                             id="@("overdue" + userstory.id)"
                             role="progressbar"
                             style="width: @(overduePercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                                <div class="progress-bar bg-warning"
                             id="@("estimated" + userstory.id)"
                             role="progressbar"
                             style="width: @(estimatedPercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                                <div class="progress-bar bg-success"
                             id="@("finished" + userstory.id)"
                             role="progressbar"
                             style="width: @(finishedPercent+"%");"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        <div class="my-2 mb-4 d-flex justify-content-center w-100">
            <button id="btnAddUserstory" type="button" class="btn btn-link text-black btn-floating" data-mdb-toggle="modal" data-mdb-target="#createModal">
                <i class="fas fa-plus fa-2x"></i>
            </button>
        </div>
    </div>

    <!--Graph-->
    <div class="d-flex flex-column flex-grow-1 mx-auto px-3">
        <div class="d-flex mx-auto">
            <canvas width="600" id="myChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx = document.getElementById('myChart');
            @{
                int productBacklogAmount = 0;
                int inProgressAmount = 0;
                int overdueAmount = 0;
                int doneAmount = 0;

                DateTime currentD = DateTime.Now;
                foreach (UserStory userstory in ViewBag.UserStorys)
                {
                    if (currentD < userstory.startDate && userstory.state == 0)
                    {
                        productBacklogAmount++;
                    }

                    if (currentD > userstory.startDate && userstory.state == 0)
                    {
                        inProgressAmount++;
                    }

                    if (currentD > userstory.endDate && userstory.state == 0)
                    {
                        overdueAmount++;
                    }

                    if (userstory.state == 2)
                    {
                        doneAmount++;
                    }

                }
            }


                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: [
                            'Product Backlog',
                            'In Progress',
                            'Overdue',
                            'Done'
                        ],
                        datasets:
                            [{
                                label: 'User-Stories',
                                data: [@productBacklogAmount, @inProgressAmount, @overdueAmount, @doneAmount],
                                backgroundColor: [
                                    'rgb(0, 239, 255)',
                                    'rgb(255, 169, 0)',
                                    'rgb(249, 49, 84)',
                                    'rgb(0, 183, 74)'
                                ],
                                hoverOffset: 4
                            }]
                    }
                });

        </script>

    </div>
</div>



<!-- Modal Info -->
<div class="modal fade"
     id="infoModal"
     data-mdb-backdrop="static"
     data-mdb-keyboard="false"
     tabindex="-1"
     aria-labelledby="infoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header p-0" style="border-bottom: 1px solid #dcdfe4;">
                <div class="d-flex flex-column justify-content-start w-100">
                    <div class="d-flex py-2 px-2" style="border-radius:10px 10px 0 0; background-color:#eff0f3; border-bottom: 1px solid #dcdfe4;">
                        <div class="py-1 px-3 bg-white rounded-6">
                            <!--Path-->
                            <nav id="linkState" class="me-auto">
                                <span>/</span>
                                <a href="../" class="routeLink">Projects</a>
                                <span>/</span>
                                <a data-mdb-dismiss="modal" class="routeLink">@ViewBag.currentProjectName</a>
                                <span>/</span>
                                <a class="text-reset"><u id="userStoryTitle"></u></a>
                            </nav>
                        </div>
                        <!--Close-->
                        <button id="infoModalCloseBtn" type="button" class="btn btn-link text-black btn-floating bg-white align-self-end ms-auto my-auto" data-mdb-dismiss="modal">
                            <i class="fas fa-times fa-2x"></i>
                        </button>
                    </div>

                    <!--Mitarbeiter-->
                    <div class="d-flex my-2">
                        <i class="fas fa-user-alt text-black fa-2x my-auto mx-2 ms-4"></i>
                        <div id="userStoryUser" class="d-flex my-auto">
                            <!--Mitarbeiter Item-->
                            @{
                                List<IdentityUser> userList = new List<IdentityUser>();
                                userList = @ViewBag.allStoryUser;

                                if (userList != null)
                                {
                                    foreach (IdentityUser user in userList)
                                    {
                                        <div class="admin d-flex justify-content-around rounded-8 mx-1 my-auto">
                                            <button type="submit" class="btn btn-link text-black btn-floating" disabled>
                                                <i class="fas fa-times" style="font-size: 1.5em;"></i>
                                            </button>
                                            <h6 class="my-auto mx-1 text-black">@user.UserName</h6>
                                            <button type="button" class="btn btn-link text-black bg-transparent btn-floating">
                                                <i class="fas fa-times" style="font-size: 1.5em;"></i>
                                            </button>
                                        </div>
                                    }
                                }
                            }
                        </div>

                        <!--Add Mitarbeiter-->
                        <button type="button" class="btn btn-link text-black btn-floating my-auto" data-dismiss="modal" onclick="openAddUserModal(@ViewBag.currentProjectId);">
                            <i class="fas fa-plus fa-2x"></i>
                        </button>
                        <div class="d-flex ms-auto me-2">
                            <!--Checkbox Completed / Delete Button-->
                            <button id="modalCheckButton" type="button" class="btn btn-lg rounded-5 px-2 ms-auto mx-2 btn-outline-black" data-mdb-ripple-color="dark" onclick="setAspFinishedChecked()">
                                <i id="modalCheckIcon" class="fas fa-check fa-2x"></i>
                            </button>
                            <input id="finishedCheckedInput" hidden asp-for="state" value="" />
                            <button id="delUserStoryButton" type="button" data-dismiss="modal" class="btn btn-outline-danger btn-lg rounded-5 px-2 ms-auto" data-mdb-ripple-color="dark" onclick="openDelUserStoryModal(@ViewBag.currentProjectId);">
                                <i class="fas fa-trash-alt fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Body-->
            <div class="modal-body p-0">
                <form id="editForm" disabled asp-action="EditUserStory" asp-route-pid="@ViewBag.currentProjectId" asp-route-pName="@ViewBag.currentProjectName" method="post">
                    <input asp-for="id" id="storyId" hidden />
                    <div class="container-fluid p-0">
                        <div class="d-flex flex-xl-wrap">
                            <!--Left-->
                            <div class="col d-flex flex-column" style=" border-right: 0.5px solid #dcdfe4;">
                                <div class="d-flex m-3 mb-1">
                                    <!--Story Titel-->
                                    <div class="bg-transparent flex-fill">
                                        <input id="storyTitleInput" asp-for="name" type="text" class="form-control form-control-lg text-black hoverBorder modallabel px-2" value="" />
                                    </div>
                                </div>
                                <!--Description-->
                                <div class="bg-transparent m-3 mt-1">
                                    <textarea id="storyDescriptionInput" asp-for="description" style="font-size: 16px;" class="form-control form-control-lg hoverBorder px-2" rows="8"></textarea>
                                </div>
                            </div>
                            <!--Right-->
                            <div class="col d-flex flex-column" style=" border-left: 0.5px solid #dcdfe4;">
                                <!--Date-->
                                <div class="d-flex flex-column px-3 pt-3">
                                    <!--Date group-->
                                    <div class="d-flex flex-column">
                                        <!--Start Date-->
                                        <div class="d-flex pb-2">
                                            <div class="d-flex col-lg-4 me-1">
                                                <i class="fas fa-calendar trailing text-black my-auto me-2"></i>
                                                <label class="col-8 form-label text-nowrap text-black my-auto" for="storyStartDate">Start-Date</label>
                                            </div>
                                            <div class="col-lg-8 ms-auto">
                                                <input id="storyStartDate" asp-for="startDate" type="date" class="form-control bg-transparent" onchange="dateChange()" />
                                            </div>
                                        </div>
                                        <!--End Date-->
                                        <div class="d-flex pb-2">
                                            <div class="d-flex col-lg-4 me-1">
                                                <i class="fas fa-calendar trailing text-black my-auto me-2"></i>
                                                <label class="col-8 form-label text-nowrap text-black my-auto" for="storyEndDate">End-Date</label>
                                            </div>
                                            <div class="col-lg-8 ms-auto">
                                                <input id="storyEndDate" asp-for="endDate" type="date" class="form-control bg-transparent" onchange="dateChange()" />
                                            </div>
                                        </div>
                                        <a hidden class="text-danger" id="infoTextDate">The end-date can not be befor the start-date!</a>
                                    </div>

                                </div>
                                <!--Progress-->
                                <div class="d-flex flex-column px-3 pt-2" style="border-bottom: 1px solid #dcdfe4;">
                                    <div class="mb-3">
                                        <div class="bg-transparent text-black">
                                            <i class="fas fa-clipboard-check trailing my-auto" id="progressIcon"></i>
                                            <label class="form-labelbCreateEdit my-auto" for="progressBar">Progress</label>
                                        </div>
                                        <div class="progress my-2 rounded-8" id="progressBar" style="height:15px;background-color: #dcdfe4">
                                            <div class="progress-bar bg-danger"
                                                 id="modal-overdue"
                                                 role="progressbar"
                                                 style="width: 0%;"
                                                 aria-valuenow="0"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                            <div class="progress-bar bg-warning"
                                                 id="modal-estimated"
                                                 role="progressbar"
                                                 style="width: 0%;"
                                                 aria-valuenow="0"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                            <div class="progress-bar bg-success"
                                                 id="modal-finished"
                                                 role="progressbar"
                                                 style="width: 0%;"
                                                 aria-valuenow="0"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--File List-->
                                <div class="d-flex px-3 pt-3">
                                    <label class="form-label text-black">Attachments</label>

                                </div>
                                <!--File Upload-->
                                <div class="d-flex flex-column px-3 pt-3">
                                    <label class="form-label text-black">Add Attachments</label>
                                    <div class="d-flex flex-wrap">
                                        <div class="d-flex flex-grow-1 mx-2 my-auto">
                                            <input form="filesForm" asp-for="id" id="userStoryId" hidden />
                                            <input form="filesForm" type="file" name="Files" class="form-control" multiple />
                                            <span form="filesForm" name="Files" class="text-danger"></span>
                                        </div>
                                        <div class="d-flex ms-auto me-2 my-1">
                                            <button form="filesForm" type="submit" class="btn btn-primary text-nowrap">Upload Files</button>
                                        </div>
                                    </div>
                                </div>
                                <table id="filesToDownloadTable" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th style="width:50px">Content Type</th>
                                        <th style="width:120px">File Name</th>
                                        <th style="width:80px">Download</th>
                                    </tr>
                                    <tr>
                                        <td>file.ContentType</td>
                                        <td>file.Name</td>
                                        <td><a onclick="">Download</a></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </form>
                <form hidden id="filesForm" asp-controller="UserStory" asp-action="MultiUpload" asp-route-projectid="@ViewBag.currentProjectId" asp-route-projectname="@ViewBag.currentProjectName" method="post" enctype="multipart/form-data">
                </form>
                <form hidden id="fileDownloadForm" asp-controller="UserStory" asp-action="DownloadFile" method="post">
                    <input form="fileDownloadForm" id="hfFileId" name="FileId" hidden />
                    <input form="fileDownloadForm" type="submit" id="btnFileDownload" value="Download" hidden />
                </form>
                <form hidden id="delForm" asp-controller="UserStory" asp-action="DeleteStory" asp-route-pid="@ViewBag.currentProjectId" asp-route-pname="@ViewBag.currentProjectName">
                    <input asp-for="id" id="storyIdDel" hidden />
                </form>
            </div>
            <!--<div class="modal-footer" style=" border-top: 1px solid #dcdfe4;">
                <button type="button" class="btn btn-link btn-lg text-success" data-mdb-dismiss="modal">SAVE</button>
            </div>-->
        </div>
    </div>
</div>

<!-- Modal delete Userstory-->
<div class="modal fade"
     id="delUserStoryModal"
     data-mdb-backdrop="static"
     data-mdb-keyboard="false"
     tabindex="-1"
     aria-labelledby="delUserStoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white d-flex justify-content-center">
                <i class="fas fa-trash-alt fa-3x"></i>
            </div>
            <div class="modal-body d-flex justify-content-center text-black text-center">
                <h5 class="modal-title">Are you sure you want to<br /> delete this User-Story?</h5>
            </div>
            <div class="modal-footer align-content-between d-flex justify-content-center">
                <button type="submit" form="delForm" class="btn btn-outline-black" data-mdb-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add User -->
<div class="modal fade"
     id="infoModalAddUser"
     data-mdb-keyboard="false"
     data-mdb-backdrop="static"
     tabindex="-1"
     aria-labelledby="infoModalAddUserLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0" style="border-bottom: 1px solid #dcdfe4;">
                <div class="d-flex flex-column justify-content-start w-100">
                    <div class="d-flex py-2 px-2" style="border-radius:10px 10px 0 0; background-color:#eff0f3;">
                        <div class="py-1 px-3 bg-white rounded-6">
                            <!--Path-->
                            <div class="d-flex">
                                <i class="fas fa-user-alt text-black fa-2x mx-2 my-auto"></i>
                                <h4 class="my-auto">Add Employees</h4>
                            </div>
                        </div>
                        <!--Close-->
                        <button type="button" class="btn btn-link text-black btn-floating bg-white align-self-end ms-auto my-auto" data-mdb-dismiss="modal">
                            <i class="fas fa-times fa-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body p-0">
                <div class="d-flex flex-column my-2">

                    <div>
                        @{
                            List<IdentityUser> usAllUser = new List<IdentityUser>();
                            usAllUser = ViewBag.allUser;
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Add</th>
                                    </tr>
                                </thead>
                                <tbody id="userTable">
                                    @{
                                        if (ViewBag.allUser != null)
                                        {
                                            foreach (IdentityUser user in usAllUser)
                                            {
                                                <tr>
                                                    <th>@user.UserName</th>
                                                    <th>

                                                        <!-- <form methoyd="post" asp-action="EditUserRoles" asp-controller="Project" asp-route-userId="@user.Id" asp-route-ProjectID="@ViewBag.ProjectID"> -->
                                                        <button type="button" onclick="addUserToStory('@user.Id')" class="btn btn-link text-black btn-floating">
                                                            <i class="fas fa-plus fa-2x"></i>
                                                        </button>
                                                        <!-- </form> -->
                                                    </th>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="addUserToStory(value)" class="btn btn-dark" data-mdb-dismiss="modal">ADD</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal add Userstory -->
<div class="modal fade"
     id="createModal"
     data-mdb-backdrop="static"
     data-mdb-keyboard="false"
     tabindex="-1"
     aria-labelledby="createModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <form id="crateForm" asp-action="CreateUserStory" asp-route-pid="@ViewBag.currentProjectId" asp-route-pName="@ViewBag.currentProjectName" method="post">
                <div class="modal-header" style=" border-bottom: 1px solid #dcdfe4;">
                    <h5 class="modal-title text-black" id="staticBackdropLabel">Create Userstory</h5>
                </div>
                <div class="modal-body  p-0">
                    <input asp-for="id" id="storyId" hidden />
                    <input asp-for="state" id="storyState" type="text" hidden />
                    <div class="container-fluid p-0">
                        <div class="d-flex align-items-start">
                            <div class="d-flex flex-column flex-fill px-3">
                                <!--Top-->
                                <div class="d-flex flex-wrap my-2 mt-3">
                                    <!--Story Titel-->
                                    <div class="d-flex flex-column flex-grow-1 mb-auto me-2">
                                        <div class="d-flex my-1">
                                            <label class="form-label text-black my-auto flex-fill" for="storyTitleInputDummy">Story Title</label>
                                        </div>
                                        <div class="form-outline" style="border-color:#dcdfe4;">
                                            <input id="storyTitleInputDummy" asp-for="name" type="text" class=" form-control form-control-lg text-black px-2" required onchange="validateCreateUserStory()" />
                                        </div>
                                    </div>
                                    <!--Date-->
                                    <div class="d-flex flex-column flex-fill mb-auto">
                                        <div id="date-group" class="d-flex">
                                            <!--Start Date-->
                                            <div class="me-2 flex-fill">
                                                <div class="d-flex my-1">
                                                    <i class="fas fa-calendar trailing my-auto me-2 text-black"></i>
                                                    <label class="form-label my-auto me-1 text-black" for="storyStartDateDummy">Start-Date</label>
                                                </div>
                                                <div class="form-outline " style="border-color:#dcdfe4;">
                                                    <input id="storyStartDateDummy" asp-for="startDate" type="date" class="form-control form-control-lg px-2 bg-transparent" required onchange="validateCreateUserStory()" />
                                                </div>
                                            </div>
                                            <!--End Date-->
                                            <div class="flex-fill">
                                                <div class="d-flex my-1">
                                                    <i class="fas fa-calendar trailing my-auto me-2 text-black"></i>
                                                    <label class="form-label  text-black my-auto" for="storyEndDateDummy">End-Date</label>
                                                </div>
                                                <div class="form-outline" style="border-color:#dcdfe4;">
                                                    <input id="storyEndDateDummy" asp-for="endDate" type="date" class="form-control form-control-lg px-2 bg-transparent" required onchange="validateCreateUserStory()" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--Error Message-->
                                        <a class="text-danger my-1" id="infoTextDateDummy" style="visibility:hidden;">The end-date can not be befor the start-date!</a>
                                    </div>
                                </div>

                                <!--Bottom-->
                                <div class="d-flex flex-column my-2 mt-3">
                                    <!--Description-->
                                    <div class="d-flex my-1">
                                        <i class="fas fa-info-circle trailing my-auto me-2 text-black"></i>
                                        <label class="form-label flex-fill my-auto text-black" for="storyDescriptionInputDummy">Description</label>
                                    </div>
                                    <div class="form-outline" style="border-color:#dcdfe4;">
                                        <textarea id="storyDescriptionInputDummy" asp-for="description" class="form-control form-control-lg px-2" rows="8"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style=" border-top: 1px solid #dcdfe4;">
                    <button type="button" onclick="resetCreateModal()" class="btn btn-link btn-lg text-dark" data-mdb-dismiss="modal">CANCEL</button>
                    <button id="storySubmitInputDummy" type="submit" class="btn btn-link btn-lg text-success">CREATE</button>
                </div>
            </form>
        </div>
    </div>
</div>



